<template lang="html">
  <div id="contacts">
    <h1>List Of Contacts</h1>
    <div class="row">
      <span>Show </span>
      <select v-model="ItemsNumber" id="select">
        <option v-for="index in 5" :key="index" :value="index * 10" v-show="index != 0" :selected="ItemsNumber==index * 10">{{index * 10}}</option>
      </select>
      <span> entries</span>
    </div>
    <ListHeader v-on:filter="filter" :filtered='filtredByProps'></ListHeader>
    <ListContent :contacts="sortedContacts" :ItemsNumber="ItemsNumber"></ListContent>
  </div>
</template>

<script>
import moment from 'moment'
import {_} from 'vue-underscore';

import ListContent from './ListContent'
import ListHeader from './ListHeader'
export default {
  components : {
    ListHeader,
    ListContent
  },
  data: function() {
    return {
      filtredBy : "name",
      contacts : [
        {
          id: 1,
          birthDate: moment("31-12-1994" , "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "John Doe",
          city: "Las Vegas",
          email: 'J.doe@gmail.com',
          phoneNumber: "0623123452",
          company: {
            name: "MATIOUS",
            adresse: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, "
          },
        },
        {
          id: 2,
          birthDate: moment("31-12-1994", "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "Ayoub Mjid",
          city: "El jadida",
          email: "A.mjid@gmail.com",
          phoneNumber: "0663902693",
          company: {
            name: "ESTBM",
            adresse: "Lorem sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
        },
        {
          id: 1,
          birthDate: moment("31-12-1995" , "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "John Doe",
          city: "Las Vegas",
          email: 'J.doe@gmail.com',
          phoneNumber: "0623123452",
          company: {
            name: "MATIOUS",
            adresse: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, "
          },
        },
        {
          id: 2,
          birthDate: moment("31-12-2000", "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "Ayoub Mjid",
          city: "El jadida",
          email: "A.mjid@gmail.com",
          phoneNumber: "0663902693",
          company: {
            name: "ESTBM",
            adresse: "Lorem sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
        },
        {
          id: 1,
          birthDate: moment("31-12-2003" , "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "John Doe",
          city: "Las Vegas",
          email: 'J.doe@gmail.com',
          phoneNumber: "0623123452",
          company: {
            name: "MATIOUS",
            adresse: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, "
          },
        },
        {
          id: 2,
          birthDate: moment("31-12-1990", "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "Ayoub Mjid",
          city: "El jadida",
          email: "A.mjid@gmail.com",
          phoneNumber: "0663902693",
          company: {
            name: "ESTBM",
            adresse: "Lorem sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
        },
        {
          id: 1,
          birthDate: moment("31-12-1992" , "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "John Doe",
          city: "Las Vegas",
          email: 'J.doe@gmail.com',
          phoneNumber: "0623123452",
          company: {
            name: "MATIOUS",
            adresse: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, "
          },
        },
        {
          id: 2,
          birthDate: moment("31-12-2004", "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "Ayoub Mjid",
          city: "El jadida",
          email: "A.mjid@gmail.com",
          phoneNumber: "0663902693",
          company: {
            name: "ESTBM",
            adresse: "Lorem sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
        },
        {
          id: 1,
          birthDate: moment("31-12-1984" , "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "John Doe",
          city: "Las Vegas",
          email: 'J.doe@gmail.com',
          phoneNumber: "0623123452",
          company: {
            name: "MATIOUS",
            adresse: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, "
          },
        },
        {
          id: 2,
          birthDate: moment("31-12-1970", "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "Ayoub Mjid",
          city: "El jadida",
          email: "A.mjid@gmail.com",
          phoneNumber: "0663902693",
          company: {
            name: "ESTBM",
            adresse: "Lorem sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
        },
        {
          id: 1,
          birthDate: moment("31-12-1994" , "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "John Doe",
          city: "Las Vegas",
          email: 'J.doe@gmail.com',
          phoneNumber: "0623123452",
          company: {
            name: "MATIOUS",
            adresse: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, "
          },
        },
        {
          id: 2,
          birthDate: moment("31-12-1994", "DD-MM-YYYY").format('YYYY/MM/DD'),
          name: "Ayoub Mjid",
          city: "El jadida",
          email: "A.mjid@gmail.com",
          phoneNumber: "0663902693",
          company: {
            name: "ESTBM",
            adresse: "Lorem sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
        }
      ],
      ItemsNumber: 10
    }
  },
  methods: {
    // function to filter data using the value selected
    filter : function(value){
      this.filtredBy = value
    }
  },
  computed: {
    // this property is used to make the header props reactive
    filtredByProps: function(){
      return this.filtredBy;
    },
    sortedContacts: function(){
      if(this.filtredByProps == 'company') return _.sortBy(this.contacts,function(contact){ return contact.company.name });
      return _.sortBy(this.contacts,this.filtredByProps);
    }
  }
}
</script>

<style lang="css" scoped>
#select{
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  -webkit-appearance: menulist !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#contacts{
  padding: 10px 10px 10px;
  border: solid #cccccc 1px;
  border-radius: 5px;
}

</style>
