<template lang="html">
    <v-layout row wrap>

      <v-flex xs1 class="text-md-center">
        <h6>
          <span> {{contact.id}} </span>
        </h6>
      </v-flex>


      <v-flex xs1 class="text-md-center">
        <h6>
          <span> {{contact.birthDate}} </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center">
        <h6>
          <span> {{contact.name}} </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center">
        <h6>
          <span> {{contact.email}} </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center">
        <h6>
          <span> {{ contact.city }} </span>
        </h6>
      </v-flex>


      <v-flex xs1 class="text-md-center">
        <h6>
          <span> {{ contact.phoneNumber }} </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center">
        <h6>
          <span> {{contact.company.name }} </span>
        </h6>
      </v-flex>


      <v-flex xs1 class="text-md-center">
        <h6>
          <span> ACTIONS </span>
        </h6>
      </v-flex>


    </v-layout>
</template>

<script>
export default {
  props: ['contact'],
}
</script>

<style lang="css" scoped>
h6{
  font-weight: 300;
}
</style>
