<template lang="html">
    <v-layout id="container" row wrap>

      <v-flex xs1 class="text-md-center pt-2 pb-2">
        <h6>
          <span> #ID </span>
        </h6>
      </v-flex>


      <v-flex xs1 class="text-md-center pt-2 pb-2">
        <h6>
          <i class="fa fa-sort" :style="{ color : filtered == 'birthDate'? '#832020':'#cccccc'}" @click="sendEvent('birthDate')"></i>
          <span> BIRTH DATE </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center pt-2 pb-2">
        <h6>
          <i class="fa fa-sort" :style="{ color : filtered == 'name'? '#832020':'#cccccc'}" @click="sendEvent('name')"></i>
          <span> NAME </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center pt-2 pb-2">
        <h6>
          <i class="fa fa-sort" :style="{ color : filtered == 'email'? '#832020':'#cccccc'}" @click="sendEvent('email')"></i>
          <span> EMAIL </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center pt-2 pb-2">
        <h6>
          <i class="fa fa-sort" :style="{ color : filtered == 'city'? '#832020':'#cccccc'}" @click="sendEvent('city')"></i>
          <span> CITY </span>
        </h6>
      </v-flex>


      <v-flex xs1 class="text-md-center pt-2 pb-2">
        <h6>
          <i class="fa fa-sort" :style="{ color : filtered == 'phoneNumber'? '#832020':'#cccccc'}" @click="sendEvent('phoneNumber')"></i>
          <span> PHONE NUMBER </span>
        </h6>
      </v-flex>


      <v-flex xs2 class="text-md-center pt-2 pb-2">
        <h6>
          <i class="fa fa-sort" :style="{ color : filtered == 'company'? '#832020':'#cccccc'}" @click="sendEvent('company')"></i>
          <span> COMPANY </span>
        </h6>
      </v-flex>


      <v-flex xs1 class="text-md-center pt-2 pb-2">
        <h6>
          <span> ACTIONS </span>
        </h6>
      </v-flex>


    </v-layout>
</template>

<script>
export default {
  props: ['filtered'],
  methods: {
    sendEvent: function(value){
      this.$emit('filter', value)
    }
  }
}
</script>

<style lang="css" scoped>
#container{
  background-color: #eeeeee;
  border-radius: 5px;
  font-size: 18px;
}
.fa-sort{
  cursor: pointer;
}
</style>
