<template lang="html">
  <div class="list-content">
    <div class="list-item" v-for="(contact , index) in limitList(contacts,ItemsNumber)" :key="index">
      <listItem :contact="contact"></listItem>
      <hr v-if="index != limit-1">
    </div>
  </div>
</template>

<script>
import listItem from './ListItem'
export default {
  components : {
    listItem
  },
  data: function(){
    return {
      limit : 0
    }
  },
  computed: {
  },
  props : ['contacts','ItemsNumber'],
  methods : {
    limitList(contactsArr,limit){
      this.limit = limit;
      let arr = [];
      let len;
      if(contactsArr.length > limit) {
        len = limit
      } else {
        len = contactsArr.length
      }
      for (var i = 0; i < len; i++) {
        arr.push(contactsArr[i]);
      }
      return arr;
    },
  }
}
</script>

<style lang="css" scoped>
.list-item{
  font-size: 18px;
  margin: 10px auto;
}
hr{
  margin: 10px auto;
  border-width: 0.5px;
}
</style>
