<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Airbit™ — </span>
        <span class="font-weight-light">Technical Assignment</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        href="https://gitlab.com/fahdaddi"
        target="_blank"
      >
        <span class="mr-2">Fahd ADDI</span>
      </v-btn>
    </v-toolbar>

    <v-content class="mt-5 mr-5 ml-5">
      <Contacts/>
    </v-content>
  </v-app>
</template>

<script>
import Contacts from './components/Contacts'

export default {
  name: 'App',
  components: {
    Contacts
  },
  data () {
    return {
      //
    }
  }
}
</script>
<style media="screen">
  .headline{
    color: #832020
  }
</style>
